doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title YayuP @ Aqours 2L DV SD

    //- Styles
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./css/home-min.css")
  body
    div.container
      img.side-image.left-image(src="./images/maru-3.png")

      div.content
        //- Profile section
        div.profile
          div.profile-main
            img.profile-avatar(src="./images/hanamaru-avatar.png")

            h1.profile-name YayuP
            h3.profile-twitter
              a.profile-link(href="https://twitter.com/datyayu", target="blank") @datyayu

        //- Mid-page text
        //- TODO: Add more phrases and switch them randomly with js or something.
        h4.site-subtitle Don't you hate slow fade-in transitions in anime websites?

        //- Links section
        ul.link-list
          li.link-item
            a.link(href="https://blog.yayu.pro") blog
          li.link-item
            a.link(href="https://track.yayu.pro") weetrack
          li.link-item
            a.link(href="https://calls.yayu.pro") IETTAIGA!!
          li.link-item
            a.link(href="https://risu.yayu.pro") risu-moe (rip)
          li.link-item
            a.link(href="https://github.com/datyayu", target="_blank") github
          li.link-item
            a.link(href="https://imgur.com/IBalaNJ", target="_blank") ¯\_(ツ)_/¯

      img.side-image.right-image(src="./images/matsuri-4.png")

